<section class="add-entity-form">
  <div class="buttons-container">
      <%= link_to 'Back', root_path, class: 'back-button'%>

    <p class="create-entity-button">
      New entity
    </p>
  </div>
  <%= render 'entities/form' %>
</section>
