<section class="add-group-form">
  <div class="buttons-container">
      <%= link_to 'Back', root_path, class: 'back-button'%>

    <p class="create-group-button">
      New group
    </p>
  </div>
  <%= render 'groups/group_form_creation' %>
</section>
