<section class="group-show">
  <div class="group-show-options">
    <div class="single-group-amount">
      <div class="total-amount-for-group">
        <p>Group amount: <%= @group_amount %></p>
      </div>
    </div>
    <% @entities.each do |entity| %>
      <div class="single-entity-container">
          <%# <div class="sample-icon">
            <%= render 'users/dollar'%>
          <%# </div>  %>
        <div class="entity-name">
          <%= link_to entity.name, user_entity_path(current_user.id, entity.id) %>
        </div>
        <div class="entity-amount">
          <%= entity.amount%>$
        </div>
      </div>
    <%end%>
  </div>
</section>

